@import url(https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css);
* {
    font-family: Vazirmatn;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
p.small {
    font-size: 14px;
}